<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Punctuations</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <label><h1>Enter the text:</h1></label><br><textarea style = "width: 390px;
    height: 58px;" placeholder="Enter the text:" name="text"></textarea>
    <br>
    <button>Remove Punc</button>
    <br>
    <label>Result</label><br><textarea style = "width: 389px; height: 52px;" name="result">{{result}}</textarea>
</form>
</body>
</html>